body {
  background: linear-gradient(-135deg, #eb2c2c, rgba(250, 184, 85, 0.877));
  font-family: 'Impact',sans-serif;
  font-weight: bolder;
  margin: 0;
}

.title {
  font-size: 50px;
  color: white;
  margin-bottom: 25px;
}

.title:hover {
  color: #9e803f;
}

a {
  text-decoration: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li, a {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

header {
  line-height: 70px;
  position: fixed;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 710px) {
  header {
    height: 100px;
  }
}

@media screen and (max-width: 710px) {
  .menuBotton {
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 710px) {
  .menuBotton div {
    height: 1px;
    width: 60%;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media screen and (max-width: 710px) {
  .menuBotton div:nth-of-type(1) {
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
  }
}

@media screen and (max-width: 710px) {
  .menuBotton div:nth-of-type(3) {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px);
  }
}

@media screen and (max-width: 710px) {
  .menuBotton.active div:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(-50%, 0);
            transform: rotate(45deg) translate(-50%, 0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}

@media screen and (max-width: 710px) {
  .menuBotton.active div:nth-of-type(2) {
    opacity: 0;
  }
}

@media screen and (max-width: 710px) {
  .menuBotton.active div:nth-of-type(3) {
    -webkit-transform: rotate(-45deg) translate(-50%, 0);
            transform: rotate(-45deg) translate(-50%, 0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 710px) {
  .nav {
    display: none;
    position: fixed;
  }
}

.nav li {
  font-size: 50px;
  font-family: 'Impact',sans-serif;
  display: inline-block;
  padding-right: 20px;
  color: white;
  border-right: solid medium #e9b547;
  margin-left: 10px;
}

.nav li:hover {
  color: #e7c06b;
  cursor: pointer;
}

.nav-a {
  color: white;
}

.h-icons {
  display: none;
}

@media screen and (max-width: 710px) {
  .h-icons {
    display: block;
    width: 50px;
    height: 50px;
  }
}

.insta-header {
  display: none;
}

@media screen and (max-width: 710px) {
  .insta-header {
    color: purple;
  }
  .insta-header :hover {
    color: #e7c06b;
    cursor: pointer;
  }
}

.line-header {
  display: none;
}

@media screen and (max-width: 710px) {
  .line-header {
    color: #12af12;
  }
  .line-header :hover {
    color: #e7c06b;
    cursor: pointer;
  }
}

.insta-icon-header {
  font-weight: 130;
  font-size: 50px;
}

.line-icon-header {
  font-weight: 100;
  font-size: 50px;
}

.v-mainn {
  margin-bottom: 15em;
}

.v-main {
  height: 400px;
  width: 100%;
}

.main-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.main-fra {
  font-size: 90px;
  color: #8d3b3b;
  text-align: center;
  position: relative;
  top: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-fra:hover {
  color: #e7c06b;
  cursor: pointer;
}

@media screen and (max-width: 710px) {
  .main-fra {
    top: 150px;
    font-size: 70px;
  }
}

.v-spa {
  letter-spacing: 25px;
}

#v-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

#v-nav.active {
  opacity: 1;
  visibility: visible;
  background: white;
  height: 500px;
}

#v-nav.active li {
  font-size: 60px;
  margin-bottom: 20px;
}

.news-wrap {
  width: 70%;
  margin: 0 auto 150px;
}

@media screen and (max-width: 710px) {
  .news-wrap {
    width: 90%;
  }
}

.news-title {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}

.news-title:hover {
  color: #9e803f;
  cursor: pointer;
}

@media screen and (max-width: 710px) {
  .news-title {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news-item1 {
  font-size: 25px;
  margin: 0 0 20px 50px;
}

.news-item1-p1 {
  font-size: 25px;
  margin: 10px 0 0 20px;
}

.news-item1:hover {
  color: #9e803f;
}

@media screen and (max-width: 710px) {
  .news-item1 {
    margin: 0 0 40px 10px;
  }
}

.news-item2 {
  font-size: 25px;
  margin: 0 0 20px 50px;
}

.news-item2-p2 {
  font-size: 25px;
  margin: 10px 0 0 20px;
}

.news-item2:hover {
  color: #9e803f;
}

@media screen and (max-width: 710px) {
  .news-item2 {
    margin: 0 0 40px 10px;
  }
}

.news-item3 {
  font-size: 25px;
  margin: 0 0 20px 50px;
}

.news-item3-p3 {
  font-size: 25px;
  margin: 10px 0 0 20px;
}

.news-item3:hover {
  color: #9e803f;
}

@media screen and (max-width: 710px) {
  .news-item3 {
    margin: 0 0 20px 10px;
    font-size: 25px;
  }
}

@media screen and (max-width: 710px) {
  .news-item-p {
    font-size: 18px;
    margin-left: 5px;
  }
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto 50px;
}

@media screen and (max-width: 710px) {
  .about-wrap {
    display: block;
    text-align: center;
  }
}

.about-title {
  width: 70%;
  font-size: 50px;
  color: white;
  margin: 0 auto 50px;
}

.about-title:hover {
  cursor: pointer;
  color: #9e803f;
}

@media screen and (max-width: 710px) {
  .about-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-item-wrap {
  width: 300px;
  text-align: left;
  font-size: 20px;
}

@media screen and (max-width: 710px) {
  .about-item-wrap {
    text-align: center;
    margin: 0 auto;
  }
}

.about-item2 {
  margin-bottom: 150px;
}

.about-item2::after {
  background-color: gray;
}

.about-img2 {
  height: 300px;
  margin-bottom: 10px;
}

.about-imgg2 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.about-item3 {
  margin-bottom: 150px;
}

.about-item3::after {
  background-color: gray;
}

.about-img3 {
  height: 300px;
  margin-bottom: 10px;
}

.about-imgg3 {
  width: 300px;
  border-radius: 10px;
  height: 300px;
}

.icon-de {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.line-gui :hover {
  color: #9e803f;
  cursor: pointer;
}

.concept-title {
  width: 70%;
  font-size: 60px;
  color: white;
  margin: 0 auto 50px;
}

.concept-title:hover {
  color: #9e803f;
  cursor: pointer;
}

@media screen and (max-width: 710px) {
  .concept-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.con-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 710px) {
  .con-wrap {
    display: block;
  }
}

.con-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.con-img1 {
  height: 225px;
  width: 160px;
  border-radius: 10px;
}

@media screen and (max-width: 710px) {
  .con-img {
    display: block;
    height: 250px;
    width: 250px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 710px) {
  .con-img1 {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
}

.con-p {
  margin-left: 25px;
  font-size: 27px;
  text-align: left;
}

@media screen and (max-width: 710px) {
  .con-p {
    font-size: 20px;
    margin-top: 15px;
  }
}

.footer {
  margin-top: 100px;
  position: relative;
}

.footer-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 200px;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 710px) {
  .footer-icon-wrap {
    display: block;
  }
}

.footer-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 200px 0 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  opacity: 0.7;
  font-size: 25px;
}

@media screen and (max-width: 710px) {
  .footer-p {
    font-size: 15px;
  }
}

.footer-icon {
  margin-left: 40px;
  font-size: 40px;
}

.ins-icon {
  font-size: 50px;
}

.footer-icon-1 {
  color: #12af12;
  margin-left: 30px;
}

#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 50%;
}

#page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #140b0b;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -1px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */